
 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  
  
  /* Create three equal columns that floats next to each other */
  .columnCart {
      
    float: left;
    width: 20%;
    padding: 10px;
    background-color: bisque;
    border: 1px;
    border-color: black;
    border-style: solid;
  }
  .columnProduct {
    float: left;
    width: 60%;
    padding: 10px;
    background-color: bisque;
    border: 1px;
    border-color: black;
    border-style: solid;
  }
  .columnNav {
    float: left;
    width: 20%;
    height: 100vh;
    padding: 10px;
    background-color: bisque;
    border: 1px;
    border-color: black;
    border-style: solid;
    left:0;
  }

  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}